body{
  background-image: url('background1.jpg');
}
* {
    box-sizing: border-box;
  }
  
  
  input[type=text], input[type=url], input[type=number], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    padding-left: 2%;
    margin-bottom: 2%;
    width: 70%;
    height: 40px;
    font-size: 19px;
  }


  
  label {
    text-align: center;
    display: inline-block;
    padding-right: 2%;
    margin-bottom: 2%;
    font-size: 23px;
    font-weight: bold;
  }
  
  
  .container {
    border-radius: 5px;
   width: 100%;
   margin-top: 3%;
  align-content: center;

  
  }
  
  
  .colForLabel {
    text-align: right;
    float: left;
    width: 50%;
  }
  
  .colForInput {
    text-align: start;
     float: left;
    width: 40%;
  
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #w3review{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    height: 220px;
    background-color: transparent;
    font-size: 12pt;
  
  }
  

  .button {
    background-color:white;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-top: 2%;
    margin-right: 30px;
  }
  
  .button:hover {
    background-color: black;
    color: white;
  }
  
  
  @media screen and (max-width: 600px){
  
    .container {
      border-radius: 5px;
      background-color: lightslategray;
      margin: auto;
     width: 60%;
     height: 70%;
    }
  
    input[type=text], input[type=number], input[type=url], select {
      width: 50%;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      padding-left: 2%;
      margin-bottom: 20px;
    }
  .colForLabel {
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 6px;
  }
  
  .colForInput {
    text-align: center;
     float: left;
    width: 100%;
    margin-top: 6px;
    padding-bottom: 20px;
  }
  
  
  #w3review{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    height: 220px;
    background-color: transparent;
    font-size: 12pt;
  
  }
  

  .button {
    background-color:white;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-top: 2%;
    margin-right: 30px;
  }
  
  .button:hover {
    background-color: black;
    color: white;
  }
  }
  